<p>
  <button><a href="/sign_out">Sign Out</a></button>
</p>


<form action="/tweet_confirm" method="POST">
  <input type="text" name="tweet_input" placeholder="tweet!">
  <input type="submit" value="update to twitter">
</form>